<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="Abiturient.Properties.Settings.AbiturientConnectionString"
      connectionString="Data Source=D:\PI\mydb.sqlite;Version=3"
         providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>